
  header,footer {
    grid-column: 1 / span 2;
  }
  
  body {
    margin: 0 auto;
    max-width: 56em;
    padding: 1em 0;
    font-family: 'Lato', sans-serif;
  }
  
  header,main,aside,footer {
    text-align: justify;
    margin-bottom: 20px;
  }

  .img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 500px;
  }

  .header{
      text-align: center;
      padding-bottom: 22px;
  }



  h3{
      text-align: center;
      margin-top: 0;
  }

  img{
      border: 1px solid black;
  }

  #back{
      text-align: center;
      font-size: 0.9em;
      margin-right: 10px;
      margin-bottom: 10px;
  }

  a{
    text-decoration: none;
    color: black;
    padding: 2px 2px;
    font-size: 1.1em;
    font-weight: 500;
  }

  a:hover{
      color: rgb(122, 122, 164);
  }

  p{
      padding: 5px 5px;

  }

  h1{
      text-transform: uppercase;
      font-family: 'Bebas Neue', cursive;
      letter-spacing: 7px;
      font-size: 2.5em;
      text-align: center;
      }
      

  aside{

    background-color: rgba(255,255,255,0.3);
    padding: 10px 10px;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(197, 223, 244) 50%, rgb(111, 196, 254) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  button a{
    font-size: 1.2em
  }

  @media screen and (min-width: 930px){
  .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
  };
}

  @media screen and (min-width: 720px){
    body{
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-rows: 5w 30vw 5vw;
    };
  }

  @media screen and (min-width: 360px){
    main{
      margin-left: 10px;
      margin-right: 10px;
    };
    button a{
      font-size: 1.2em
    };
    button{
      height: 26px;
      width: 200px;
      padding: 0 0;
    };
  }

  button{
    height: 26px;
    width: 150px;
    padding: 0 0;
}

  footer{
    margin-left: 10px;
  }
