h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 0 0;
    margin: 4px 4px;
}

h2{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

body {
    font-family: "Open Sans", sans-serif; 
    text-align: center;
    padding: 35px 0px 35px 0; 
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(252, 217, 171), rgb(174, 127, 70) );
    color: rgb(36, 23, 7);
}

p {
    text-align: justify;
    line-height: 1.3;
}

li {
    display: inline;
}

img{
    display: block;
    margin: auto;
    border: solid 3px black;
}

.contact{
    text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

footer{
    font-size: 0.8em;
}

.back-top{
    margin: 15px 15px;
    font-size: 11px;
    display: flex;
    justify-content: flex-end;
}

a{
    color: rgb(58, 43, 25);
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(242, 250, 255);
    border-top: black 1px solid;
    padding: 10px 10px;
}

.pictures{
    max-width: 360px;
}

#picture-gastronomy{
    width: 360px;
}

.links {
    display: flex;
    justify-content: space-around;
    font-size: 0.9em;
    padding: 5px 8px;
    position: fixed;
    top: 0;
    width: 98%;
    background-color: rgb(242, 250, 255);
    border-bottom: black 1px solid;
}
.links2 {
    display: flex;
    justify-content:space-around;
    font-size: 0.9em;
}

a:hover {
    color: rgb(97, 85, 69);
    opacity: 70%;
  }

html {
height:100%;
}

body {
margin:0;
}

.bg {
animation:slide 3s ease-in-out infinite alternate;
background-image: linear-gradient(-60deg, rgb(224, 227, 187) 50%, rgb(242, 250, 255) 50%);
bottom:0;
left:-50%;
opacity:.5;
position:fixed;
right:-50%;
top:0;
z-index:-1;
}

.bg2 {
animation-direction:alternate-reverse;
animation-duration:4s;
}

.bg3 {
animation-duration:5s;
}

@keyframes slide {
0% {
    transform:translateX(-25%);
}
100% {
    transform:translateX(25%);
}
}

section{
    margin: 20px 0;
    padding: 0 20px;
}

.sticky {
    position: fixed;
    bottom: 0;
    width: 97%
  }

