@media screen and (min-width: 930px) {
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
  }
}

@media screen and (min-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 5w 30vw 5vw;
  }
}

@media screen and (min-width: 420px) {
  main {
    margin-left: 10px;
    margin-right: 10px;
  }
  button a {
    font-size: 1.2em;
  }
  button {
    height: 26px;
    width: 200px;
    padding: 0 0;
  }
}
